.ListTodo {
  display: grid;
  grid-template-columns: 15px 2fr 1fr;
}

.editable-list-item {
  outline: none;
  cursor: pointer;
  flex: 1;
  margin-right: 0.5rem;
}

.iconsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  align-items: center;
}

.closeCalendar {
  position: absolute;
  right: 1px;
}

.dutdate-btn {
  display: flex;
}