.App {
  text-align: center;
}

.grid-center {
  height: 100%;
  display: grid;
  align-content: center;
}

body .anticon {
  vertical-align: text-top;
}

#root {
  max-height: 100%;
  overflow-y: hidden;
}

body div, body li  {
  list-style: none;
}

body footer.ant-layout-footer {
  padding: 0;
  display: grid;
  height: 50px;
  align-content: center;
  justify-content: space-around;
}